{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}

{#
  Custom Invoice change form template to add a "Generate DANFE" button next to the History link
  Styling follows Django admin object-tools (same area as History/View on site)
#}

{% block object-tools-items %}
  {{ block.super }}
  {% if change and original %}
    <li>
      <a href="{% url 'admin:invoice_invoice_download_xml' original.id %}" class="historylink">
        {% trans "Download XML from SEFAZ" %}
      </a>
    </li>
    <li>
      <a href="{% url 'admin:invoice_invoice_generate_danfe' original.id %}" class="historylink">
        {% trans "Generate DANFE" %}
      </a>
    </li>
    {# Delivery actions: create or view delivery prepopulating the invoice #}
    {% if original.deliveries_id %}
      <li>
        <a href="{% url 'admin:delivery_delivery_change' original.deliveries_id %}" class="historylink">
          {% trans "View Delivery" %}
        </a>
      </li>
    {% else %}
      <li>
        <a href="{% url 'admin:delivery_delivery_add' %}?invoice={{ original.id }}" class="addlink">
          {% trans "Create Delivery" %}
        </a>
      </li>
    {% endif %}
  {% endif %}
{% endblock %}
